#root
{
 margin: 0 auto;
 text-align: center;
 background-color: tomato;
}

.card {
 padding: .4em .1rem;
}

.todoList {
  flex: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  height: 50px;
  display: flex;
  color: white;
  margin: 15px;
}

.task .content {
  flex: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
}